<a href="https://colab.research.google.com/github/uzmakhan7/uk/blob/master/randomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
#loading data
df=pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [0]:
df.head()#adding 5 rows

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
filterdata=df.iloc[0:,1:]#removing data

In [0]:
filterdata.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [0]:
features=filterdata[0:,0:2]#now we can apply training &test

TypeError: ignored

In [0]:
features

NameError: ignored

In [0]:
label=filterdata[0:,2] #label finding

TypeError: ignored

In [0]:
#training testing
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

NameError: ignored

In [0]:
#now apply features scaling
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
X=sc.fit_transform(X)#apply scaling in train data only

In [0]:
x=sc.fit(x) #testing data scaling

In [0]:
#knn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import randomforestClassifier

ImportError: ignored

In [0]:
#random forest call with no. of decision tree
rclf=RandomforestClassifier(n_estimators=20)

NameError: ignored

In [0]:
#now training 
trained=rclf.fit(X,Y)

NameError: ignored

In [0]:
#now predicting
output=trained.predict(x)

NameError: ignored

In [0]:
y

NameError: ignored